.h1 {
  font-family: 'Grtsk Giga';
  font-weight: 700;
  font-size: 82px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #373737;
  max-width: 1023px;
  margin: 0px;
  @media only screen and (max-width: 1280px)  {
    & {
      max-width: 724px;
      font-size: 58px;
      line-height: 110%;
    }
  }

  @media only screen and (max-width: 640px)  {
    & {
      max-width: 333px;
      font-size: 34px;
      line-height: 110%;
    }
  }
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}