.lang {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 28px;
  left: 24px;
  z-index: 5;

  &_list {
    position: absolute;
    opacity: 0;
    transition: opacity .2s, transform .4s;
    width: max-content;
    display: flex;
    cursor: default;

    &.active {
      opacity: 1;
      transition: opacity .6s, transform .4s;
      transform: translateX(75px);
      @media only screen and (max-width: 540px) {
        & {
          transform: translateX(55px);
        }
      }
    }

    a {
      color: initial;
      text-decoration: none;
      position: relative;
      display: block;
      margin-right: 5px;
      @media only screen and (max-width: 540px) {
        & {
          font-size: 12px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 1px;
        background-color: black;
        transition: width 0.35s;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: 540px) {
    & {
      width: 34px;
      height: 34px;
    }
  }
}