html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background: #BEBEBE;
  font-family: 'Grtsk Giga';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
